.impo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  text-align: center;
  padding: 0 10%;
  background: #0f0f0f;
  color: #ffffff;
}

.impo img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff1a;
}

.impo h1 {
  max-width: 900px;
  font-size: clamp(2.5rem, 6vw, 4.2rem);
  font-weight: 600;
  line-height: 1.2;
}

.impo p {
  max-width: 750px;
  font-size: 1.1rem;
  color: #bdbdbd;
  line-height: 1.7;
}

.impo h1 span {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.impo-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 50px;
  flex-wrap: wrap;
  /* For responsiveness on smaller screens */
  justify-content: center;
}

.impo-connect,
.impo-resume {
  padding: 18px 40px;
  border-radius: 50px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  /* Removes underline */
  display: inline-block;
  /* Ensures padding works properly if it's an <a> tag */
  text-align: center;
}

/* Connect With Me Button */
.impo-connect {
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  color: #ffffff;
  border: 2px solid transparent;
}

.impo-connect:hover {
  transform: translateY(-2px);
  border: 2px solid #ffffff;
}

/* My Resume Button */
.impo-resume {
  padding: 18px 60px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
}

.impo-resume:hover {
  transform: translateY(-2px);
  border-color: #B415FF;
  color: #B415FF;
}

@media(max-width:768px) {

  .impo h1 {
    margin-top: 50 px;
    width: 90%;
    font-size: 50px;
  }

  .impo p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .impo-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }

  .impo-resume {
    padding: 20px 30px;
    border-radius: 40px;
  }
}