.about {
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* TITLE */
.about-title {
  position: relative;
  text-align: center;
}

.about-title h1 {
  font-size: 80px;
  font-weight: 600;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}

/* MAIN SECTION */
.about-section {
  display: flex;
  gap: 80px;
  align-items: center;
}

.about-left img {
  width: 280px;
  border-radius: 20px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-para {
  font-size: 22px;
  line-height: 1.6;
}

/* SKILLS */
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-skill p {
  min-width: 180px;
  font-size: 22px;
}

.about-skill hr {
  height: 8px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

/* ACHIEVEMENTS */
.about-achievements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-achievement {
  text-align: center;
}

.about-achievement h1 {
  font-size: 60px;
  background: linear-gradient(270deg, #DF8908 50%, #B415FF 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 20px;
}

/* Divider */
.divider {
  width: 1px;
  height: 80px;
  background: #555;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}

@media(max-width:768px) {
  .about {
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
  }

  .about-title h1 {
    font-size: 50px;
    padding: 0;
  }

  .about-title img {
    width: 130px;
    right: -20px;
  }

  .about-section {
    flex-direction: column;
  }

  .about-left {
    display: none;
  }

  .about-para {
    font-size: 18px;
    line-height: 32px;
  }

  .about-skill {
    gap: 20px;
    align-items: center;
  }

  .about-skill p {
    font-size: 20px;
  }

  .about-skill hr {
    height: 6px;
  }

  .about-achievements {
    justify-content: space-between;
  }

  .about-achievement {
    gap: 10px;
  }

  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }

  .about-achievement p {
    text-align: center;
    font-size: 18px;
  }
}