.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.nav-logo h1 {
  font-size: 36px;
  font-weight: 700;
  background: linear-gradient(270deg, #DF8908 50%, #B415FF 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/* MENU */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

/* CONNECT BUTTON */
.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

/* MOBILE ICONS */
.nav-mob-open,
.nav-mob-close {
  display: none;
  cursor: pointer;
}

/* ================= MOBILE ================= */
@media screen and (max-width: 768px) {

  .navbar {
    margin: 20px 30px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 25px;
    top: 25px;
    width: 32px;
    z-index: 1001;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100vh;
    background-color: #1F0016;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 90px;
    transition: right 0.4s ease-in-out;
    z-index: 1000;
  }

  /* OPEN STATE */
  .nav-menu.open {
    right: 0;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 28px;
  }

  .nav-menu li {
    font-size: 28px;
    padding-left: 60px;
  }
}